#header {
	text-align: center;
}

body {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	background-image: url("unit1_projects/images/Seas Oceans Wallpaper 22.jpg");
}

#content {
	overflow: auto;
}

#nav, #footer {
	margin: 1%;
}

.column1, .column2, .column3 {
	width: 31.3%;
	float: left;
	margin: 1%;
}

.column3 {
	margin-right: 0%;
}

li{
	display: inline;
	padding: 0.5em;
}

#footer {
	background-color: #efefef;
	opacity: 0.5;
	padding: 0.5em 0;
}

#feature {
	height: 10em;
	margin-bottom: 1em;
	background-color: #efefef;
	opacity: 0.5;
} 

.article {
	height: 20em;
	margin-bottom: 1em;
	background-color: #efefef;
	opacity: 0.5;
}

img.medium {
	height: 20%;
}

img.small {
	height: 32px;
}