body{
	font-family: "Arial", sans-serif;
	background-color: white;
}

.images {
	text-align: center;
}

a:link {color:#FF0000;}
a:visited {color:#00FF00;}
a:hover {color:#FF00FF;}
a:active {color:#0000FF;}

#header {
	background-color: yellow;
	margin: 5px;
	padding: 10px;
	font-size: 24px;
	text-align: center;
	display: block;
	height: 150px;
}

#content {
	text-align: center;
	left: 5px;
	border: 1px blue;
	padding-top: 30px;
	float: right;
	margin: 10px;
	background-color: silver;
	width: 600px;
	height: 700px;
	font-size: 20px;	
}

#sidebar {
	position: relative;
	right:0;
	border: 1px blue;
	float: left;
	margin: 10px;
	background-color: olive;
	width: 190px;
	height: 700px;
	text-align: center;
}

#footer { 
	clear: both;
	background: yellow;
	padding: 10px;
	text-align: center;
}

