#container {
	background-color: silver;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

#header {
	background-color: teal;
	text-align: center;
	font-size: 20px;
	font-family: Arial;
	padding: 10px;	
}

#footer {
	background-color: teal;
	text-align: center;
	font-size: 15px;
	font-family: Arial;
	padding: 10px;
}

body{
	background-color: silver;
	padding: 30px;
	border: 1px black;
}

h2{
	text-align: center;
}

img{
	width: 100%;
}


